config/nvim/autoload
.netrwhist
config/nvim/plugged
config/nvim/spell
config/karabiner/automatic_backups
config/alfredapp/Alfred.alfredpreferences/remote/
config/sbp/cache
config/sbp/peekabook
config/sbp/hook.log
dotfiles/gitrc/git-piano
dotfiles/config/nvim/plugged/*
