[submodule "nvim/bundle/ctrlp.vim"]
	path = nvim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "nvim/bundle/vim-airline"]
	path = nvim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "nvim/bundle/vim-colors-solarized"]
	path = nvim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "nvim/bundle/vim-gitgutter"]
	path = nvim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "nvim/bundle/vim-pathogen"]
	path = nvim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "nvim/bundle/nerdcommenter"]
	path = nvim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "nvim/bundle/vim-surround"]
	path = nvim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "nvim/bundle/syntastic"]
	path = nvim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "nvim/bundle/vim-puppet"]
	path = nvim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "nvim/bundle/Apprentice"]
	path = nvim/bundle/Apprentice
	url = git@github.com:romainl/Apprentice.git
[submodule "nvim/bundle/supertab"]
	path = nvim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "nvim/bundle/jellybeans.vim"]
	path = nvim/bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "nvim/bundle/vim-trailing-whitespace"]
	path = nvim/bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule "nvim/bundle/vim-peekaboo"]
	path = nvim/bundle/vim-peekaboo
	url = git@github.com:junegunn/vim-peekaboo.git
[submodule "nvim/bundle/vim-bufferline"]
	path = nvim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "nvim/bundle/neomake"]
	path = nvim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
